*{
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
}

::-webkit-scrollbar {
	display: none;
}

.text-center{
	text-align: center
}

.text-center-vertical{
	position: absolute;
	top: 50%;
}

.text-center-bottom{
	position: absolute;
	bottom: 0px;
}

.text-right{
	position: absolute;
	right: 0px;
}

.text-white{
	color: white;
}

/*NavBar Component*/
#selected {
	color: white;
}

#selected-current {
	color: orange;
}

#selected:hover {
	color: orange;
}

.no-underline {
	text-decoration: none !important
}

.background-black{
	background-color: black;
}

.background-image{
	background-image: url('background.jpg');
	background-size: cover;
	background-attachment: fixed;
}

.background-teal{
	background-color: #008080;
}

.links:hover {
	color: orange;
	text-decoration: none;
}


/*Landing Page Component*/
.background_img{
	background-image: url('background.jpg');
	background-size: cover;
	background-attachment: fixed;
	height: 95vh;
}


/*About Me Component*/
.aboutMe-image {
	border-radius: 15px;
}

#aboutMe-description {
	text-align: justify;
}

.button-cv {
	color: white;
	background-color: orange;
	padding: 10px;
	border-radius: 5px
}

.button-projects {
	color: orange;
	background-color: transparent;
	border: 2px solid orange;
	padding: 10px;
	border-radius: 5px
}


/*Project Cards Component*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
	position: relative; 					/* [1.1] Set as relative so our description will be positioned inside, inside of the HTML based on the documentation flow */
	height: auto;							/* [1.2] Set it as per your need */
	width: 100%;							/* Adjust if you want to expand or as is */
	overflow: hidden;						/* [1.3] Hide the overflowing of child elements */
}

.wrapper .image {
	text-align: center;
	transition: transform 1s ease;  		/* [2.1]set transition on the element; not upon hover */
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
	border: 1px solid black;
}

.wrapper:hover .image {
	transform: scale(1.5);
}

.description {
	position: absolute;						/* Psitioned relative to its parent, wrapper*/
	top: 0; 								/* These lines position the color to cover whole wrapper */
	bottom: 0; 
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .5); 			/* a = opacity */
	color: white;
	visibility: hidden; 					/* hides text */
	text-align: center;
	font-size: 2.5vh;
}

@media (max-width: 600px) {
	.description {
		font-size: 1.5vh;
	}
}

.description-positioning {
	position: relative;						/* Positions relative to its parent which is description; http://jsfiddle.net/a12sndmL/11/*/
  	top: 40%;
  	transform: translateY(-50%);
}

.wrapper:hover .description {
	visibility: visible;					
}

button {
	color: white;
	background-color: transparent;
	border: 2px solid white;
	border-radius: 5px;
	padding: 5px;
}
